{% extends "views/report-templates/default.htm" %}
{% load i18n %}
{% block report %}

{% block body %}
<!-- Associated Actors -->
<div class="aher-report-section">
    <h1 class="aher-report-section-title"> {% trans "Life Events" %}</h1>
    <!-- Collapsible content -->
    <div class="aher-report-collapsible-container pad-lft">
        <!-- ko ifnot: groupedRows().length -->
            <div class="aher-nodata-note">No related resources</div>
        <!-- /ko -->
        <div class="aher-report-subsection">
            <div class="aher-report-subsection">
                <div class="firstchild-container">
                 <!-- ko if: groupedRows().length > 0 -->
                    <div class="aher-table" data-bind="">
                        <table class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr class="aher-table-header">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{% trans "Detail" %}</th>
                                </tr>
                            </thead>
                            <tbody data-bind="dataTablesForEach: { data: groupedRows, dataTableOptions: tableConfig, autoWidth: false }">
                                <tr>
                                    <td data-bind="text: _order"></td>
                                    <td data-bind="text: _group"></td>
                                    <td data-bind="text: key"><a href="" class="aher-table-link"></a></td>
                                    <td data-bind="text: value"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>

    <h1 class="aher-report-section-title"> {% trans "Education" %}</h1>
    <!-- Education Tab -->
    <div class="aher-report-page">
        <div data-bind="component: {
            name: 'views/educations',
            params: {
                data: resource,
                report: report,
                resourceId: resourceId,
                cards: cards,
                reportSpecification: reportSpecification,
            }
        }"></div>
    </div>
</div>
{% endblock body %}
{% endblock report %}
